<!DOCTYPE html>
<html>
    <head>
        <title>I, robot</title>
        <script type="text/javascript" src="{{ url_for('bot_core.static', filename='captcha.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('bot_core.static', filename='captcha_providers/'~provider~'.js') }}"></script>
    </head>
    <body>
        <iframe data-src="{{ iframe_src }}" id="captcha"></iframe>
        <script type="text/javascript">
            challenge_id = '{{ challenge_id }}';
{% for key, value in metadata.items() %}
            {{ key }} = {{ value|tojson }};
{% endfor %}
            (async () => {
                /*
                let reg = await navigator.serviceWorker.register('{{ url_for('bot_core.static', filename='captcha-iframe-worker.js') }}', { scope: '/' });
                await navigator.serviceWorker.ready;
                reg.active?.postMessage({
                    'type': 'config',
                    'parent_url': window.location.href,
                    'user_id': user_id,
                    'challenge_id': challenge_id,
                    'credentials_id': credentials_id,
                    'provider': provider,
                    'captcha_url': captcha_url,
                    'user_agent': user_agent,
                });
                */
                let iframe = document.getElementById('captcha');
                iframe.src = iframe.dataset.src
            })();
        </script>
        <style type="text/css">
            html, body {
                height: 100%;
                margin: 0;
                overflow: hidden
            }
            iframe {
                border: none;
                display: block;
                height: 100%;
                width: 100%;
            }
        </style>
    </body>
</html>
