<!DOCTYPE html>
<html>
    <head>
        <title>I, robot</title>
        <script type="text/javascript" src="{{ url_for('bot_core.static', filename='captcha.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('bot_core.static', filename='captcha_providers/'~provider~'.js') }}"></script>
    </head>
    <body>
        <iframe src="{{ iframe_src }}" id="captcha"></iframe>
        <script type="text/javascript">
            user_id = '{{ user_id }}';
            challenge_id = '{{ challenge_id }}';
            credentials_id = '{{ credentials_id }}';
            provider = '{{ provider }}';
            captcha_url = '{{ captcha_url }}';
            user_agent = '{{ user_agent }}';
        </script>
        <style type="text/css">
            html, body {
                height: 100%;
                margin: 0;
                overflow: hidden
            }
            iframe {
                border: none;
                display: block;
                height: 100%;
                width: 100%;
            }
        </style>
    </body>
</html>
